header.header
  .container
    h3(style='color:blue;') NT's music project
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src="/images/Music_logo.png", alt="Logo")
      .col-5
        .box-search
          form(
            action="/songs/search/result"
            method="GET"
          )
            div(class="form-group d-flex mb-0")
              input(
                type="text"
                placeholder="keyword..."
                class="form-control"
                name="keyword"
                value=keyword
              )
              button(
                type="submit"
                class="btn btn-primary"
              ) Find
      
      .col-4
        .inner-menu
          ul
            li
              a(href="/") Main page
            li
              a(href="/topics") Topic
            li
              a(href="/songs/listFavorite") Favorite Song