.sider
  .inner-menu
    ul
      li
        a(href=`/${prefixAdmin}/dashboard`) Dashboard
      li
        a(href=`/${prefixAdmin}/topics`) Topic
      li
        a(href=`/${prefixAdmin}/songs`) Song
      li
        a(href=`/${prefixAdmin}/singers`) Quản lý ca sĩ
      li
        a(href=`/${prefixAdmin}/roles/permissions`) Phân quyền
      li
        a(href=`/${prefixAdmin}/accounts`) Tài khoản admin
      li
        a(href=`/${prefixAdmin}/users`) Tài khoản user
      li
        a(href=`/${prefixAdmin}/settings/general`) Cài đặt chung